@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdfdfd;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.log-in-line-container {
  display: flex;
  justify-content: center; /* Centers elements vertically */
  align-items: center; /* Aligns text and button horizontally */
  gap: 0.5rem; /* Adds spacing between the text and button */
  margin-bottom: 1rem; /* Adds spacing below the container */
}

nextjs-portal {
  display: none;
}